.mainWrapper {
    width: 600px;
    margin: 0px auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #0069FF;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 5px;
}

.logo {
    text-align: center;
    color: #0069FF;
    font-size: 46px;
    margin-bottom: 50px;
}

.spinner {
    font-size: 54px;
    display: block;
    margin: 0 auto;
}