.bookingsList {
    margin: 0 0 20px 0;
    padding: 0;
}

.loading, .noBookings, .noMoreBookings {
    text-align: center;
    display: block;
    color: #0069FF;
}

.noMoreBookings {
    margin-bottom: 40px;
}

.goUpBtn {
    font-size: 54px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.goUpBtn:hover {
    color: #0069FF;
}

.createBookingBtn {
    background-color: #F9FAFE;
    padding: 5px 10px;
    border: 1px solid #0069FF;
    border-radius: 4px;
    color: #0069FF;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

.createBookingBtn:hover {
    background-color: #0069FF;
    color: #F9FAFE;
}

.spinner {
    font-size: 54px;
    display: block;
    margin: 0 auto;
}