.notification{
    position: fixed;
    right: 20px;
    top: 50px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
    display: flex;
    align-items: center;
}

.notification span {
    color: #fff;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    20% { opacity: 1; }
    60% { opacity: 1; }
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    20% { opacity: 1; }
    60% { opacity: 1; }
}

.good {
    background-color: #4caf50;
}

.bad {
    background-color: #f44336;
}

.notificationIcon {
    margin-right: 5px;
}